# Ignore Helm dependency archives
charts/**/charts/*.tgz

# Ignore Helm build files
charts/**/Chart.lock

# Ignore environment variable files
.env

# Ignore files generated during tests execution
tests/tmp/
